<!DOCTYPE html>
<html lang="en" class="no-js">
    {% load static %}
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'img/goreba/goreba-gateway.png' %}">
        <!-- Author Meta -->
        <meta name="author" content="Hem Raj Regmi">
        <!-- Meta Description -->
        <meta name="description" content="Expert Advice, Visa Guidance, and Success Stories">
        <!-- Meta Keyword -->
        <meta name="keywords" content="study in canada, work in canada,canada pr, how to get pr in canada, lMIA jobs canada, express entry canada, student life in canada, visitor visa canada, Nepal to Canada, canada vlogs, life of Canada, Canadian life, Canadian weather, latest news of Canada, Goreba, Goreba Gateway, Goreba Canada, work permit of canada, how to settle in canada, visitor to work, seasonal jobs in canada, parents visa canada, super visa canada, best consultancy canada, how to find job in canada">
        <!-- meta character set -->
        <meta charset="UTF-8">

        {% include 'base/styles.html' %}
    </head>

    <body>
        {% block main_content %} {% endblock %}

        {% include 'base/scripts.html' %}
    </body>
</html>
